# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

arquivo/
blog/
old/
static/
test.php
plataforma/
temp/
testing_arquivo/
.git_old/
dia
